body {
  font-family: Arial, sans-serif;
  background-color: #181818;
  color: white;
}

.auth-box {
  background-color: #333;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type="text"], input[type="password"], input[type="email"], input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

img {
  max-width: 100px;
  margin-top: 10px;
}